#searchBar{
	position: absolute;
	top: 50%;
	left: 19%;
	width: 60%;
}

#searchButton{
	position: absolute;
	top: 55%;
	left: 47%;
}

#titel{
	position: absolute;
	font-size: 6vw;
	left: 33%;
	top: 20%;
}

#loginButton{
	position: absolute;
	left: 90%;
}